@include generate-classes("border", true){border: 1px solid var(--color-light);}
@include generate-classes("border-y", true){border-top: 1px solid var(--color-light); border-bottom: 1px solid var(--color-light);}
@include generate-classes("border-x", true){border-left: 1px solid var(--color-light); border-right: 1px solid var(--color-light);}
@include generate-classes("border-l", true){border-left: 1px solid var(--color-light);}
@include generate-classes("border-s", true){border-left: 1px solid var(--color-light);}

@include generate-classes("border-r", true){border-right: 1px solid var(--color-light);}
@include generate-classes("border-e", true){border-right: 1px solid var(--color-light);}

@include generate-classes("border-t", true){border-top: 1px solid var(--color-light);}
@include generate-classes("border-b", true){border-bottom: 1px solid var(--color-light);}

@include generate-classes("border-transparent", true){border-color:transparent;}

@include generate-classes("border-0", true){border-width:0;}
@include generate-classes("border-1", true){border-width:1px;}
@include generate-classes("border-2", true){border-width:2px;}
@include generate-classes("border-3", true){border-width:3px;}
@include generate-classes("border-4", true){border-width:4px;}
@include generate-classes("border-5", true){border-width:5px;}

@include generate-classes("rounded", true){border-radius: 5px;}
@include generate-classes("rounded-0", true){border-radius: 0!important;}
@include generate-classes("rounded-large", true){border-radius: 25px;}

@include generate-classes("circle", true){border-radius: 50%;}



.border-light {border-color:var(--color-light);}

.border-primary {border-color:var(--color-primary);}
.border-primary-light {border-color:var(--color-primary-light);}

.border-secondary {border-color:var(--color-secondary);}
.border-secondary-light {border-color:var(--color-secondary-light);}

.border-ternary {border-color:var(--color-ternary);}
.border-ternary-light {border-color:var(--color-ternary-light);}

.border-info {border-color:var(--color-info);}
.border-info-light {border-color:var(--color-info-light);}
.border-info-light-extra {border-color:var(--color-info-light-extra);}

.border-success {border-color:var(--color-success);}
.border-success-light {border-color:var(--color-success-light);}
.border-success-light-extra {border-color:var(--color-success-light-extra);}

.border-danger {border-color:var(--color-danger);}
.border-danger-light {border-color:var(--color-danger-light);}
.border-danger-light-extra {border-color:var(--color-danger-light-extra);}

.border-warning {border-color:var(--color-warning);}
.border-warning-light {border-color:var(--color-warning-light);}
.border-warning-light-extra {border-color:var(--color-warning-light-extra);}

.border-dark {border-color:var(--color-dark-);}
.border-dark-light {border-color:var(--color-dark-light);}
.border-dark-light-extra {border-color:var(--color-dark-light-extra);}








