.marquee {
  width: 100%;
  overflow:hidden;
  margin: var(--marquee-margin);
  padding: var(--marquee-padding);
  white-space: nowrap;
}

.marquee main {

  width: 100%;
  white-space: nowrap;
  animation: marquee__scroll var(--marquee-animation-duration) linear infinite;

}


/* marquee> ul */
.marquee main ul
{
    display: inline-block;
    margin: 0;
    padding: 0 0 0 100%;

}

.marquee main li
{
  display: inline-block;
  margin: var(--marquee-li-margin);
  padding: var(--marquee-li-padding);

}



/* animation */
.marquee-hover-paused:hover main {
  animation-play-state: paused;
}


@keyframes marquee__scroll {

  0% {transform: translateX(var(--marquee-animation-position-start));}
  100% {transform: translateX(var(--marquee-animation-position-end));}

}

